<ActionBar title="test" class="actbardark">
    <StackLayout (doubleTap)="onDoubleTap($event)" orientation="horizontal" ios:horizontalAlignment="center"
        android:horizontalAlignment="left">
        <Image src="~/app/images/logomalloy.jpg" height="10%" class="action-image"></Image>

    </StackLayout>

</ActionBar>


<GridLayout (swipe)="onSwipe($event)" class="homepage" columns="*, *,*, *" rows="50,50, 50,100, 50,75" height="100%"
    width="100%" *ngIf="showSlide==false">

    <StackLayout class="input-field textfield margin10" row="1" col="0" colSpan="2">
        <TextField id="nomeTx"  #nomeTx hint="FirstName" autocorrect="false" returnKeyType="done" (textChange)="onNameChange($event)"
            class="input input-border"></TextField>
    </StackLayout>


    <StackLayout class="input-field textfield margin10" row="1" col="2" colSpan="2">
        <TextField id="lastnomeTx" #lastnomeTx hint="LastName" autocorrect="false" returnKeyType="done"
            (textChange)="onLastNameChange($event)" class="input input-border"></TextField>
    </StackLayout>

    <StackLayout class="input-field textfield margin10" row="2" col="0" colSpan="2">
        <TextField id="mailTx" #mailTx hint="Mail" autocorrect="false" returnKeyType="done"
            (blur)="onMailChange($event)" class="input input-border"></TextField>
        <!-- <TextField  *ngIf="!validMail"  #mailTx hint="Mail" autocorrect="false" returnKeyType="done" style="color:red" (blur)="onMailChange($event)"
            class="input input-border"></TextField> -->
    </StackLayout>

    <StackLayout class="input-field  textfield margin10" row="2" col="2" colSpan="2">
        <!-- <TextField #sexTx hint="Gender" autocorrect="false" returnKeyType="done" (textChange)="onSexChange($event)"
            class="input input-border"></TextField> -->

        <GridLayout columns="*, *" rows="*">
            <CheckBox  (tap)="checksexchange('male')"  row="0" col="0" #CBmale text="Male" checked="false" style="color:black;" fillColor="black">
            </CheckBox>
            <CheckBox (tap)="checksexchange('female')" row="0" col="1" #CBfemale text="Female" checked="false" style="color:black;" fillColor="black">
            </CheckBox>
        </GridLayout>

    </StackLayout>

    <StackLayout class="input-field textfield margin10" row="3" col="0" colSpan="2">
        <!-- <TextField #birthdateTx hint="BirthDate" autocorrect="false" returnKeyType="done"
            (textChange)="onBirthDateChange($event)" class="input input-border"></TextField> -->

        <DatePicker (loaded)="onPickerLoaded($event)" (dateChange)="onDateChanged($event)"
            (dayChange)="onDayChanged($event)" (monthChange)="onMonthChanged($event)"
            (yearChange)="onYearChanged($event)" verticalAlignment="center"></DatePicker>
    </StackLayout>

    <StackLayout class="input-field textfield margin10" row="3" col="2" colSpan="2">
        <!-- <TextField #countryTx hint="Country" autocorrect="false" returnKeyType="done"
            (textChange)="onCountryChange($event)" class="input input-border"></TextField> -->

        <ListPicker id="countrytxt"  #countrytxt [items]="countryList" selectedIndex="107" (selectedIndexChange)="onCountryChange($event)"
            class="p-15"></ListPicker>
    </StackLayout>
    <StackLayout class="input-field  margin10" row="4" col="0" colSpan="3">
        <CheckBox #CB1 text="Accetto il trattamento dei dati come specificato nelle privacy policy" checked="false"
            style="color:white;" fillColor="white"></CheckBox>


    </StackLayout>

    <StackLayout class="input-field  margin10" row="4" col="3" colSpan="3">
        <label (tap)="readPrivacy()" style="color:white; padding-top: 10px;" dock="right" text="Scopri di più"></label>
    </StackLayout>

    <Button row="5" col="0" colSpan="4" width="96%" class="btn btn-primary btn-active bxbButton" id="button"
        text="Registra" (tap)="onTap($event)"></Button>

    <!-- 
        
        <StackLayout class="input-field textfield">
        <TextField #nomeTx hint="FirstName" autocorrect="false" returnKeyType="done"
            (textChange)="onNameChange($event)" class="input input-border"></TextField>
    </StackLayout>

    <StackLayout class="input-field textfield" >
        <TextField #lastnomeTx hint="LastName" autocorrect="false" returnKeyType="done"
            (textChange)="onLastNameChange($event)" class="input input-border"></TextField>
    </StackLayout>

    <StackLayout class="input-field textfield" >
        <TextField #sexTx hint="LastName" autocorrect="false" returnKeyType="done"
            (textChange)="onSexChange($event)" class="input input-border"></TextField>
    </StackLayout>
     -->
</GridLayout>

<!-- 
<GridLayout (swipe)="onSwipe($event)" class="homepage" columns="*" rows="3*,3*,3*,3*,2*" height="100%" width="100%"
    *ngIf="showSlide==false">

    <StackLayout class="infocontainer" height="100%" width="100%" orientation="vertical" minHeight="70">


        <StackLayout class="input-field textfield" width="70%" orientation="vertical">
            <TextField (focus)="onFocusMail()" (blur)="onBlurMail()" *ngIf="validMail==false" [ngClass]="{ 'fielderr': validMail==false,'fieldok':validMail==true}"
                    (ngModelChange)="onChangeMail($event)" style="color:red" dock="top" hint="Email Address" [(ngModel)]="userMail"
                    autocorrect="false" autocapitalizationType="none"></TextField>
                <TextField *ngIf="validMail==true" dock="top" hint="Email Address" (focus)="onFocus($event)" [(ngModel)]="userMail" autocorrect="false"
                    autocapitalizationType="none"></TextField>
            <TextField #emailTx hint="Email" autocorrect="false" returnKeyType="done"
                (textChange)="onMailChange($event)" class="input input-border"></TextField>
        </StackLayout>

        <StackLayout class="input-field textfield" width="70%" orientation="vertical">
            <TextField #nomeTx hint="FirstName" autocorrect="false" returnKeyType="done"
                (textChange)="onNameChange($event)" class="input input-border"></TextField>
        </StackLayout>

        <StackLayout class="input-field textfield" width="70%" orientation="vertical">
            <TextField #lastnomeTx hint="LastName" autocorrect="false" returnKeyType="done"
                (textChange)="onLastNameChange($event)" class="input input-border"></TextField>
        </StackLayout>

        <StackLayout class="input-field textfield" width="70%" orientation="vertical">
            <TextField #sexTx hint="LastName" autocorrect="false" returnKeyType="done"
                (textChange)="onSexChange($event)" class="input input-border"></TextField>
        </StackLayout>

        <DockLayout width="70%" stretchLastChild="false">
            <CheckBox dock="left" id="cbprivacy" style="color:white" #CB1
                text="Accetto il trattamento dei dati come specificato nelle privacy policy" fillColor="white"
                checked="false"></CheckBox>
        </DockLayout>
        <DockLayout width="70%" stretchLastChild="false">
            <label (tap)="readPrivacy()" style="color:white; padding-top: 10px;" dock="left"
                text="Scopri di più"></label>
        </DockLayout>
        <Button dock="top" width="20%" class="btn btn-primary btn-active bxbButton" id="button" text="Registra"
            (tap)="onTap($event)"></Button>

    </StackLayout>

</GridLayout> -->
<StackLayout class="picslider" *ngIf="showSlide==true" (tap)="hideSlider()" height="100%" width="100%" clasd="m-15">
    <Image width="100%" height="100%" [src]="myImageSource"></Image>
</StackLayout>