<Page  loaded="onPageLoaded">
<StackLayout (swipe)="onSwipe($event)" class="homepage"  height="100%" width="100%">

    <GridLayout columns="*" rows="5*,*" width="100%" >
        <TextView row="0" col="0" #txtviewpriv id="txtviewpriv" [(ngModel)]="tvtext" hint="Enter some text"  editable="false"
        class="input input-border policy"></TextView>
            <!-- <Label  row="0" col="0" id="lbl" text="{{ title }}" style="color:white;" textWrap="true" ></Label> -->

            <Button row="1" col="0" width="60%" class="btn btn-primary btn-active bxbButton" id="button" text="Indietro" (tap)="back($event)"></Button>
    </GridLayout>

    <StackLayout id="stackLayoutId">

    </StackLayout>

</StackLayout>
</Page>