/*
In NativeScript, the app.css file is where you place CSS rules that
you would like to apply to your entire application. Check out
http://docs.nativescript.org/ui/styling for a full list of the CSS
selectors and properties you can use to style UI components.

/*
In many cases you may want to use the NativeScript core theme instead
of writing your own CSS rules. For a full list of class names in the theme
refer to http://docs.nativescript.org/ui/theme.
*/
@import '~nativescript-theme-core/css/core.light.css';


@import "nativescript-theme-core/css/core.light.css";

.homepage{
    background-image: url("~/app/images/IMG_1_MALLOY_1200x600px.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    z-index:10;
}

.txtbox{
    background-color: white;
    z-index: 20;
}



.textfield{
    z-index: 20;
    background-color: white;
    color: black;
}

.bxbButton{
    background-color: transparent;
    border-color:white;
    border-width: 0.5;
    border-radius: 7px; 
border-style: groove;
}

fielderr{
   color:red;
}


fieldok{
    color:black;
 }

.picslider{
    background-repeat: no-repeat;
    background-position: center top;
    background-size: cover;
    z-index:10;
    background-color: #000;
}

.infocontainer{
    margin-top:40%;
    margin-left:10%;
    margin-right:10%;
    padding-left:20%;
    padding-right:20%;
}

.action-image{
    height: 100px;
    width: 200px;
}

.actbardark{
    background-color: #000;
}

.policy{
    background-color: white;
    padding: 10%;
    margin: 50px;
}

.margin10{
    margin:10px;
}